<%= render "admin/shared/header", title: "伝道会編集", description: @organization.name %>
<section class="rounded-[2rem] border border-stone-200 bg-white p-6 shadow-sm">
  <%= render "form", organization: @organization %>
</section>
